# 2-7. 데이터 요약
## 1. 그룹화와 집계
(1) **DataFrame.groupby('그룹화할 기준열').FUN()**
> - by: 그룹을 결정하는 데 사용
> - axis: 행(0)과 열(1) 지정, default 0
> - level: 축이 계층 구조일 때 특정 수준을 기준으로 그룹화
> - as_index: 그룹 레이블이 인덱스로 출력될지의 여부, default True
> - sort: 집계 행으로 정렬할지 여부
> - dropna: True이면 결측값이 행/열과 함께 삭제, False이면 결측값도 그룹의 키로 처리
> - FUN(): 집계함수(여러 개의 값을 계산하여 하나의 값으로 만드는 함수, 그룹 내에서 결측치가 아닌 값들을 계산)
>> - count(), sum(), min(), max(), mean(), median(), std(): 표준편차, var(): 분산, quantile(n): 분위수, first(), last(), describe(): 기술통계랑

In [12]:
import pandas as pd
from sklearn.datasets import load_iris
IRIS = load_iris()
iris = pd.DataFrame(IRIS.data, columns=IRIS.feature_names)
iris['class'] = IRIS.target
iris['class'] = iris['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [13]:
iris.groupby(by='class').median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0

## 2. 도수분포표
(1) **도수분포표**란 자료를 몇 개의 구간으로 나누고, 나누어진 각 구간에 속한 자료의 개수를 정리한 표이며, 이 표를 그래프로 그린 것이 **히스토그램**
> - **pd.Series.value_counts()**
> - **pd.crosstab(index, columns, dropna=True, normalize=False)**
>> - index: 열 위치에서 집계될 범주형 변수(컬럼1)
>> - columns: 행 위치에서 집계될 범주형 변수(컬럼2)
>> - dropna: 항목이 모두 NaN인 열을 제외할지 여부
>> - nomalize: 'all' 또는 True를 전달하면 모든 값에 대해 정규화, 'index'를 전달하면 각 행에 대해, 'columns'가 전달되면 각 열에 대해 정규화

In [14]:
pd.Series(iris['class']).value_counts()

class
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [16]:
pd.Series(iris['sepal length (cm)']).value_counts(bins=3) # bins=n: n개의 균등 간격 구간으로 나누어 카운트

(5.5, 6.7]      71
(4.295, 5.5]    59
(6.7, 7.9]      20
Name: count, dtype: int64

In [23]:
iris['petal width level'] = pd.qcut(iris['petal width (cm)'], q=3, labels=['short', 'middle', 'long']) # pd.qcut으로 구간 나눔 (균등 개수 분할)
pd.Series(iris['petal width level']).value_counts().to_frame() # to_frame() 사용하여 결과를 데이터프레임으로 변경

                   count
petal width level
middle                52
short                 50
long                  48

In [24]:
# 두 개의 기준에 따른 데이터 분포 확인
pd.crosstab(iris['petal width level'], iris['class'])

class              setosa  versicolor  virginica
petal width level
short                  50           0          0
middle                  0          48          4
long                    0           2         46